.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.header h1 {
  color: var(--light);
  font-family: 'bai jamjuree', sans-serif;
  margin-left: 100px;
  font-size: 3em;
  margin-top: 50px;
}

.verticalLineSmall {
  border-left: 1px solid var(--light);
  height: 50px;
  margin-left: 20px;
  margin-top: 25px;
}

.body p {
  color: var(--light);
}