.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.header h1 {
  color: var(--light);
  font-family: 'bai jamjuree', sans-serif;
  margin-left: 100px;
  font-size: 3em;
  margin-top: 50px;
}

.verticalLineSmall {
  border-left: 1px solid var(--light);
  height: 50px;
  margin-left: 20px;
  margin-top: 25px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.body p {
  color: var(--light);
}

.body input {
  padding: 10px;
  border-radius: 10px;
  font-family: 'jetbrains mono', monospace;
  transition: all 0.3s ease;
  border: none;
}

.body input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.body button {
  padding: 10px;
  border-radius: 10px;
  font-family: 'jetbrains mono', monospace;
}

.albumResults {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.albumItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.albumInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
